<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
        <br>
        <h1>Car catalogue</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-8">
                {% for car in object_list %}
                <div class="car-card">
                    <h3>{{ car.producer }}</h3>
                    <p>Model: <strong>{{ car.model }}</strong></p>
                    <p>Release year: <strong>{{ car.release_year }}</strong></p>
                    <p>Transmission: <strong>{{ car.transmission }}</strong></p>
                    <p>Color: <strong>{{ car.color }}</strong></p>
                </div>
                <br>
                {% endfor %}
            </div>
            <div class="col-4">
                <form class="one-row-search" action="{% url 'catalog:car-list' %}">
                    <input name="search" type="text" placeholder="search...">
                    <button type="submit">search</button>
                </form>
                <form class="search-form" action="{% url 'catalog:car-list' %}">
                    <table>
                        <tr>
                            <td>
                                <lable for="prod">Producer:</lable>
                            </td>
                            <td>
                                <input name="producer" type="search" id="prod">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <lable for="mod">Model:</lable>
                            </td>
                            <td>
                                <input name="model" type="search" id="mod">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <lable for="release">Release year:</lable>
                            </td>
                            <td>
                                <input name="release_year" type="search" id="release">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <lable for="col">Color:</lable>
                            </td>
                            <td>
                                <input type="search" name="color" id="col">
                            </td>
                        </tr>
                        <tr>
                            <td class="for-radio">
                                <p>Transmission:</p>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <lable for="transmission">mechanic</lable>
                                        <input name="transmission" type="checkbox" id="transmission" value="MCH">
                                    </li>
                                    <li>
                                        <lable for="transmission1">automatic</lable>
                                        <input name="transmission" type="checkbox" id="transmission1" value="AUT">
                                    </li>
                                    <li>
                                        <lable for="transmission2">robotic</lable>
                                        <input name="transmission" type="checkbox" id="transmission2" value="ROB">
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <button class="form-btn" type="submit">search</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>